{% extends "index.html" %}
{% block content %}

<script>
    function goBack() {
      window.history.back()
    }
</script>

<div id = "progressive" align="center">
    <p>This button turns on/off all the JavaScript: <button id="progressive_enhancement">Turn On Progressive Enhancement</button>
</div>

<div id="back" align="center"><button onclick="goBack()">Go Back</button></div>

<div id = "event" align="center" style="margin: 0 auto; background-color: white; height: 250px; width: 20%;">
    <div id="cover-photo">
        <img src="{{url_for('static', filename = 'event.png') }}" style="max-width:100%;">
    </div>
    <div class="name">{{event.ename}}</div>
    <div class="date"><img src="/static/calendar.png" style="max-width:8%"> {{event.edate}}</div>
    <div class="location"><img src="/static/location.png" style="max-width:8%"> {{event.city}}, {{event.state}} {{event.country}}</div>
    <div class="rsvp">
        RSVPs: <div class="num" style="display: inline-block;">{{event.rsvps}}</div>
        <input type="submit" name="submit" value="See All">
        {% if past==False and approved==True and rsvp==False%}
        <form method="post" action="{{url_for('rsvpEvent')}}">
            <input type="hidden" name="name" value="{{event.ename}}">
            <input type="hidden" name="date" value="{{event.edate}}">
            <input type="submit" id="submit" name="submit" value="RSVP">
        </form>
        <div class="rsvpajax">RSVP</div>
        {% endif %}
    {% if past==False and approved==False %}
    <div class=approve_delete>
        <form method="post" action="/approveDeleteEvent/">
            <input type="hidden" name="name" value="{{event.ename}}">
            <input type="hidden" name="date" value="{{event.edate}}">
            <input type="submit" name="submit" value="Approve!">
            <input type="submit" name="submit" value="Delete!">
        </form>
    </div>
    {% endif %}
    </div>
    <div class="people">
        <br>
        <ul style="list-style: none; padding: 0;">
        </ul>
    </div>
</div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    $(".rsvpajax").hide()
    
    // toggle progressive enhancement on click
    var progressive_on = false;
    $("#progressive_enhancement").on('click', function () {
        if(progressive_on) {
          // turn it off
          $(".rsvpajax").hide()
          $("input[value=RSVP]").show(); 
          $("#progressive_enhancement").text('Turn on Progressive Enhancement'); // change text of button
           progressive_on = false; 
        } 
        else {
          // turn it on
          $("input[value=RSVP]").hide();
          $(".rsvpajax").show()
          $("#progressive_enhancement").text('Turn off Progressive Enhancement'); // change text of button
           progressive_on = true; 
        }
    });
    
    var URL_1 = "{{url_for('rsvpEventAjax')}}"; // set URL for Ajax updating

    // hide rsvp button so no one may rsvp to the same event more than once
    function updateRSVP(obj) {
        console.log(obj.rsvp)
        $(".rsvp .num").text(obj.rsvp); 
        $(".rsvpajax").hide()
    }
    
    // define action on clicking rsvp
    $("#event").on("click",".rsvpajax",function(event) {
        if (!progressive_on) { // do not act if progressive enhancement is off
            return
        }
        else { 
            var name = $('.name');
            var date = $('.date');
            console.log('name is ' + name.text() + ' date is ' + date.text())
            $.post(URL_1, {name: name.text(), date: date.text()}, updateRSVP) // send and retrieve rating information from jsonify
        }
    });
    
    
    var URL = "{{url_for('findRSVPsAjax')}}"; // set URL for Ajax updating
    
    // append all rsvps to appropriate list
    function listRSVP(obj) {
        $(".people ul").empty()
        rsvps = obj.rsvps
        unames = obj.unames
        for (var i = 0; i < rsvps.length; i++) {
            var uname = obj.unames[i]
            var $profile = "{{ url_for('getProfile', username=uname) }}"
            $(".people ul").append($('<li>').text(rsvps[i]));
            
        }
    }
    
    // update rsvps upon clicking see all
    $("#event").on('click', ".rsvp :input", function() {
        var name = $('.name');
        var date = $('.date');
        console.log('name is ' + name.text() + ' date is ' + date.text())
        $.post(URL, {name: name.text(), date: date.text()}, listRSVP) // send and retrieve rating information from jsonify
    });
    
    </script>
    
    

{% endblock %}