<!--Riann Tang-->
<!doctype html>

{% extends "index.html" %}
{% block content %}
<title></title>
    <body>
        <div id="login" style="width: 100%; overflow: hidden;">
            <div id="log" style="width: 600px; float: left;">
                <p>Log in!
                <form action={{ url_for('loginuser') }} method="POST">
                    <input type="text" name="uid" placeholder="username"><br>
                    <input type="password" name="pwd" placeholder="password"><br>
                    <input type="submit" id="submit" name="submit" value="Log In">
                </form>
            </div>
            <div id="create" style="margin-left: 620px;">
                <p>Don't have an account? Make one.
                <form method="post" action="{{url_for('account')}}">
                    <input type="submit" id="submit" name="submit" value="Create Account">
                </form>
                </p>
            </div>
        </div>
    </body>
</html>
{% endblock %}

