<!--Riann Tang-->
<!doctype html>

{% extends "index.html" %}
{% block content %}
<title>Donate</title>
    <body>
        <h1>Your donation was successfully submitted.</h1>
        <p>Thank you {{ name }} for your generous contribution. With you help, we can continue
        the inclusive tradition of the Whiptails community and tear down financial barriers to 
        joining the team. Members of our team will be in touch 
        with more details soon.</p>
        <img src="/static/team.jpg" alt="Members of Whiptails 2018-2019" id="team-pic"></a>
    </body>
{% endblock %}
