<!doctype html>

<html lang='en'>
<head>
    <meta charset="utf-8">
    <meta name=authors content="Riann Tang, Lauren Tso, Tamara Deshong">
    <meta name=description content="">
    <meta name=keywords content="">  
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel='stylesheet' href="{{url_for('static',filename='styling.css')}}">
</head>
<title>Lounge</title>

<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<div class="header">
    <a href={{ url_for('index') }}><img src="/static/logo.jpg" alt="Lounge Logo" id="logo"></a>
    <ul>
      <li><a href={{ url_for('index') }}>Home</a></li>
      <li><a href={{ url_for('messaging') }}>Messages</a></li>
      <li><a href={{ url_for('viewApproved') }}>Events</a></li>
      <li><a href={{ url_for('makeDonation') }}>Donate</a></li>
      <li><a href={{ url_for('giveFeedback') }}>Feedback</a></li>
      <li><a href={{ url_for('adminBoard') }}>Admins</a></li>
    </ul>
</div>

<!--display all flashed messages-->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="messages">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        </div>
    {% endif %}
{% endwith %}

{% block content %}

<h1>Welcome!</h1>

<html>
    <body>
        <p>Log in!
          <form action={{ url_for('setUID') }} method="POST">
            <input type="text" name="uid" placeholder="username">
          </form>
        </p>
        
        <p>Check out our pages!
            <a href={{ url_for('index') }}>Home</a>
            <a href={{ url_for('newAccount') }}>Create a profile</a>
            <a href={{ url_for('viewApproved') }}>Events</a>
            <a href={{ url_for('messaging') }}>Messages</a>
        </p>
    </body>
    
Lounge is a Whiptail database where current members and alumnae of the Wellesley 
ultimate frisbee team can more easily connect for fundraising, networking, and 
socializing.

{% endblock %}
</html>
