<!doctype html>

<html lang='en'>
<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel='stylesheet' href="{{url_for('static',filename='styling.css')}}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<title>Lounge</title>

<body>
    
<div class="header">
    <a href="/"><img src="/static/logo.jpg" alt="Lounge Logo"></a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/messages">Messages</a></li>
      <li><a href="/approved">Events</a></li>
      <li><a href="/donate">Donate</a></li>
      <li><a href="/feedback">Feedback</a></li>
    </ul>
</div>

<!--display all flashed messages-->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="messages">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        </div>
    {% endif %}
{% endwith %}

{% block content %}

<h1>Welcome!</h1>

<html>
    <body>
        <p>Log in!
          <form action="/setUID/" method="POST">
            <input type="text" name="uid" placeholder="username">
          </form>
        </p>
    </body>
    
Lounge is a Whiptail database where current members and alumnae of the Wellesley 
ultimate frisbee team can more easily connect for fundraising, networking, and 
socializing.

{% endblock %}
</html>
