<!--Lauren Tso-->
<!doctype html>

{% extends "index.html" %}
{% block content %}

<html lang='en'>

<title>Events</title>
<body>

<form action="/submitEvent/" method="POST">
    <fieldset>
        <legend>Event Data</legend>
        <table>
            <tr><td><label for="name" accesskey="n"> Event Name:</label></td><td><input type="text" name="name" id="name"></td></tr>
            <tr><td><label for="city" accesskey="c"> Event City:</label></td><td><input type="text" name="city" id="city"></td></tr>
            <tr><td><label for="state" accesskey="s"> Event State:</label></td><td><input type="text" name="state" id="state"></td></tr>
            <tr><td><label for="country" accesskey="o"> Event Country:</label></td><td><input type="text" name="country" id="country"></td></tr>
            <tr><td><label for="desc" accesskey="d"> Event Description:</label></td><td><input type="text" name="desc" id="desc"></td></tr>
            <tr><td><label for="date" accesskey="a"> Event Date:</label></td><td><input type="text" name="date" id="date"></td></tr>
        </table>
    </fieldset>
    <p>
        <input type='submit' value='Submit Event'>
    </p>
</form>
 
 
<table id="events-list">
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Description</th>
            <th>Date</th>
        </tr>
        </tr>
        {% for event in events %}
        <tr class = "event" >
            <td class="name">{{event.ename}}</td>
            <td class="city">{{event.city}}</td>
            <td class="state">{{event.state}}</td>
            <td class="country">{{event.country}}</td>
            <td class="description">{{event.description}}</td>
            <td class="date">{{event.edate}}</td>
            {% if approve %}
            <td><form method="post" action="/approveDeleteEvent/">
                <input type="hidden" name="name" value="{{event.ename}}">
                <input type="hidden" name="date" value="{{event.edate}}">
                <input type="submit" name="submit" value="Approve!">
                <input type="submit" name="submit" value="Delete!">
            </form></td>
            {% endif %}
        </tr>
        {% endfor %}
        
    </table>
 
</body>
</html>

{% endblock %}
