<!doctype html>

<html lang='en'>

<title>Lounge</title>
<body>
    
<!--display all flashed messages-->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="messages">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<h1>Welcome!</h1>
<html>
    <body>
        <p>Log in!
          <form action="/setUID/" method="POST">
            <input type="text" name="uid" placeholder="12">
          </form>
        </p>
        
        <p>Check out our pages!
            <a href="/">Home</a>
            <a href="/approved/">Events</a>
            <a href="/messages/">Messages</a>
        </p>
    </body>
</html>